body {
    background-image: url("http://getwallpapers.com/wallpaper/full/9/0/3/619745.jpg");
}

.head1 {
    color: white;
    text-align: center;
    font-size: 60px;
    background-color: rgb(5, 56, 133);
    border: 2px;
}

.bio{
  position: absolute;
  top: 90px;
  bottom: 75px;
  left: 15px;
  width: 375px;
  height: 650px;
  border: 4px solid rgb(4, 107, 126);
  padding: 15px;
  color: white;
  background-color: turquoise;
}

.work{
    position: absolute;
    top: 90px;
    left: 475px;
    width: 500px;
    height: 200px;
    border: 4px solid rgb(4, 107, 126);
    padding: 2px;
    color: white;
    background-color: turquoise;
    text-align: center;
  }

.education{
  position: absolute;
  top: 327px;
  left: 475px;
  width: 500px;
  height: 200px;
  border: 4px solid rgb(4, 107, 126);
  padding: 2px;
  color: white;
  background-color: turquoise;
}

.skill{
  position: absolute;
  left: 475px;
  right: 15px;
  top: 557px;
  height: 200px;
  border: 4px solid rgb(4, 107, 126);
  padding: 5px;
  color: white;
  background-color: turquoise;
  text-align: center;
}

.contact{
    position: absolute;
    top: 90px;
    right: 15px;
    width: 375px;
    height: 410px;
    border: 4px solid rgb(4, 107, 126);
    padding: 15px;
    color: white;
    background-color: turquoise;
}
    .tables {
    text-align: center;
    background-color: turquoise;
}

.tabhead {
    color: turquoise
}

.one {
  color: white;
  font-size: large;
}

.photo {
  padding: 15px;
}

p.italic {
    font-style: italic;
  }
  
p.thick {
    font-weight: bold;
  }
  
